<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complete</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="content-container form-page-container text-center">
        <h1 class="text-3xl font-bold mb-2 text-green-600">Submission Complete</h1>
        <p class="text-lg text-gray-700 mt-4">Thank you for your participation. You may now close this browser window.</p>
    </div>
</body>
</html>
